
*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	/* border: 1px solid rgb(235, 19, 19); */
} 

img{
	max-width: 100%;
	background-size: cover;
}

body{
	font-size: 16px;
	position: relative;
	/* max-width: 1400px; */
	width: 100%;
	margin: 0 auto;


}
header{	
	display: flex;
	flex-flow:wrap column;
	min-height: 600px;
	background-size:cover;
	margin: 0px;
	width: 100%;
	background-image:url("img/ryanartwork-choi-ka-wai-concep18.jpg");
    /* border: 4px solid rgb(50, 216, 0); */
}


/*----------------Anav*/
#anav{
	/* border: 3px solid #000; */
	display:flex;
	position: relative;
	top:0;
	flex-flow:  row wrap;
	margin: 0px;
	background-image: linear-gradient(-90deg,rgb(120, 42, 245),rgb(48, 84, 202) );
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.title{
	/* border: 1px solid #000; */
	width: fit-content;
	color: rgb(255, 255, 255);
	font-size: 1.2rem;
	font-weight: 400;
	margin-left:10px;
	padding: 20px;
	flex:1;
}


#anav ul{
	border: 1px solid rgb(19, 255, 165);
	list-style: none;
	display:flex;
	justify-content: flex-end;
	flex: 1;
	margin: 0 10px;
	height: 100%;
}
#anav li {
	display: inline;
	padding: 20px;
	text-align:center;
	align-self: center;
	transform: scale(1,1)

}
#anav li :hover{
	transform: scale(1.4,1.4);
	transition: all 0.6s;
}
#title-hero{
	display: block;
	position: relative;
	flex:1;
	animation: hero-pic 3s forwards ;
	/* border: 4px solid rgb(255, 238, 6); */
	}

	/* ------------Contact------------ */


@keyframes hero-pic{
	0% {background-color: rgba(255, 255, 255, 0.938);}
	50% {background-color: rgba(255, 255, 255, 0);}
	100% {background-color: rgba(31, 35, 44, 0.548);}
}


#title-hero h1{
	font-family:'Teko', sans-serif;
	font-weight: 700;
	font-size: 7rem;
	color: rgb(255, 255, 255);
	line-height: 150px;
	text-align: start;
	overflow: hidden;
	letter-spacing: 3px;
	padding:  0px 50px;
	margin: 30px 0;
	animation: hero-h1 1s ease;
	position: relative;
}
@keyframes hero-h1{
	0% {color: rgba(255, 0, 0, 0); left: 0px;top:100px;}
	100% {color:rgb(255, 255, 255); left: 0px;top:px;}
	100% {color:rgb(255, 255, 255); left: 0px;top:0px;}
}

.name-container{
	background-color:rgba(34, 137, 233, 0);
	animation:name-bg 1s forwards 2s;
	width: auto;
}

@keyframes name-bg{
	0%{background-color:rgb(160, 34, 233);width: 0px;}
	100%{background-color:rgb(34, 137, 233);width: 400px;}

}

.name-container p{
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 1rem;
	color: rgba(0, 0, 0, 0);
	text-align: end;
	padding-right: 20px;
	animation: hero-p 1.5s ease 1s forwards;

}
@keyframes hero-p{
	0% {font-size:0rem; color: rgb(209, 27, 233); width: 0px;}
	100% {font-size:1rem;color: rgb(255, 255, 255); width: 80%;}

}


.letter-1{
	font-family:'Montserrat', sans-serif;
	font-weight: 900;
	position: absolute;
	color: rgb(230, 241, 255);
	background: rgb(28, 195, 236);
	font-size: 2rem;
	top:400px;
	animation: hero-1 10s ease backwards infinite;
	
}
@keyframes hero-1{
	0% {background: rgba(28, 195, 236, 0); color: rgba(255, 0, 0, 0); left: 80px;}
	20% {background: rgba(28, 195, 236, 0); color: rgba(255, 0, 0, 0); left: 80px;}
	25% {background: rgb(28, 195, 236);color:rgb(255, 255, 255); left:90px;;}
	35% {background: rgb(28, 195, 236);color:rgb(255, 255, 255);left:90px; ;}
	36% {background: rgba(28, 195, 236, 0);color: rgba(255, 0, 0, 0); left:90px; ;}
	100% {background: rgba(28, 195, 236, 0);color: rgba(255, 0, 0, 0); left: 0 ;}
}
.letter-2{
	font-family:'Montserrat', sans-serif;
	font-weight: 900;
	position: absolute;
	color: rgba(230, 241, 255, 0);
	background: rgb(28, 195, 236);
	font-size: 2rem;
	top:400px;
	animation: hero-2 10s ease backwards infinite;
}
@keyframes hero-2{
	0% {background: rgba(28, 195, 236, 0); color: rgba(255, 0, 0, 0); left: 80px;}
	37% {background: rgba(28, 195, 236, 0); color: rgba(255, 0, 0, 0); left: 80px;}
	40% {background: rgb(28, 195, 236);color:rgb(255, 255, 255); left:90px;;}
	50% {background: rgb(28, 195, 236);color:rgb(255, 255, 255); left:90px; ;}
	51% {background: rgba(28, 195, 236, 0);color: rgba(255, 0, 0, 0); left:90px; ;}
	100% {background: rgba(28, 195, 236, 0);color: rgba(255, 0, 0, 0); left: 0 ;}
}

.letter-3{
	font-family:'Montserrat', sans-serif;
	font-weight: 900;
	position: absolute;
	color: rgba(230, 241, 255, 0);
	
	font-size: 2rem;
	top:400px;
	animation: hero-3 10s ease backwards infinite;

}

@keyframes hero-3{
	0% {background: rgba(28, 195, 236, 0); color: rgba(255, 0, 0, 0); left: 80px;}
	52% {background: rgba(28, 195, 236, 0); color: rgba(255, 0, 0, 0); left: 80px;}
	57% {background: rgb(28, 195, 236);color:rgb(255, 255, 255); left:90px;;}
	67% {background: rgb(28, 195, 236);color:rgb(255, 255, 255); left:90px; ;}
	68% {background: rgba(28, 195, 236, 0);color: rgba(255, 0, 0, 0); left:90px; ;}
	100% {background: rgba(28, 195, 236, 0);color: rgba(255, 0, 0, 0); left: 0 ;}
}

.letter-4{
	font-family:'Montserrat', sans-serif;
	font-weight: 900;
	position: absolute;
	color: rgba(230, 241, 255, 0);
	
	font-size: 2rem;
	top:400px;
	animation: hero-4 10s ease backwards infinite;
}

@keyframes hero-4{
	0% {background: rgba(28, 195, 236, 0); color: rgba(255, 0, 0, 0); left: 80px;}
	69% {background: rgba(28, 195, 236, 0); color: rgba(255, 0, 0, 0); left: 80px;}
	74% {background: rgb(28, 195, 236);color:rgb(255, 255, 255); left:90px;;}
	84% {background: rgb(28, 195, 236);color:rgb(255, 255, 255); left:90px; ;}
	85% {background: rgba(28, 195, 236, 0);color: rgba(255, 0, 0, 0); left:90px; ;}
	100% {background: rgba(28, 195, 236, 0);color: rgba(255, 0, 0, 0); left: 0 ;}
}
/*----------------B-NAV*/
#bnav{
	/* border: 5px solid #ff0000; */
	position: sticky;
	position: -webkit- sticky;
	top: 0;
	left: 0;
	display: flex;
	flex-flow: row nowrap ;
	line-height: 100px;
	font-size: 1rem;
	text-align: center;
	background-color:rgb(25, 29, 41);
	justify-content:center;
	transition: all .2s ease-in-out;
	z-index: 98;
}
.sticky{
	/* border: 1px solid rgb(0, 204, 255); */
	min-width: 200px;
	display: block;
	font-weight: 100;
	padding: 0 40px;
	margin: 0 2px;
	color: rgb(255, 255, 255);
}

#bnav  a{
	white-space: nowrap;
	font-weight: 100;
	text-decoration: none;
	transition: all .4s;
	width: auto;
}
#bnav :hover {
	background: rgb(228, 228, 228);
	color: rgb(29, 27, 32);
	transition: all .2s;
	 }
 .active {
	 background: rgb(29, 28, 31);
	transition: all .2s;
 }
 #bnav .active  a{
	color: #ffffff;
	font-weight: bold;
	border-bottom: 3px solid rgb(171, 22, 230);
	background: rgb(64, 61, 71);
	
 }
 
 


/*----------------------main*/


.card-inner{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}


[id$= -card] {
	color: rgb(255, 255, 255);
	min-height: 200px;
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	z-index: 0;
	min-width: 100px; 
	transition: all 1s;
	margin: 0 5px;
	background-color: rgb(248, 245, 255);
}
[id$= -card]:hover{
	opacity: 0.5;
	background-color: rgba(248, 245, 255, 0.534);
	transform: scale(.9,.9);
	/* z-index: 99; */

}

[id$= -card]:before{
	content: "";
	position:absolute;
	left: 0;
	width: 0%;
	height: 100%;
	background: white;
  	transition:all .8s;
	z-index: -1;
	
}

[id$= -card]:hover:before{
	left: 100%;
	right: auto;
	width: 300%;
}
#ui-card {
	background-image: url(https://unsplash.it/500/300?image=1073);
}
#gameart-card {
	background-image: url(https://unsplash.it/500/300?image=1083);
}
#illu-card {
	background-image: url(https://unsplash.it/500/300?image=1079);
}
#web-card {
	background-image: url(https://unsplash.it/500/300?image=1022);
}
.card-text{
	font-size: 2.5rem;
	font-weight: 300;
}
.card-text :hover{
	color: rgb(0, 132, 255);
}

#intro{
	padding: 40px 40px 60px 40px ;
	color: rgb(78, 84, 168);
}

.portfolio-whole{
	display: flex;
	flex-flow: row wrap;
	margin: 40px 0;
}

#gameart1>.portfolio-whole{
	border: 1px solid #000;
	display: flex;
	flex-flow: row-reverse;
	margin: 40px 0;
}

#community-section>.portfolio-whole{
	display: flex;
	flex-flow: column;
	margin: 40px 0;
}
#community-section .portfolio{
	display:grid;
	grid-template-columns: repeat(3,1fr);
	flex:1;	
}


.portfolio-inner{
	position: fixed;
	top:0;
	left:0;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center	;
	z-index: 99;
	background-color: rgb(255, 255, 255);
	transform: scale(0,0);
	opacity: 0;
	transition: all ease-in-out .4s;
	transform-origin: center;
}

.portfolio-inner:target{
	transform: scale(1,1);
	opacity: 1;
	transform-origin: bottom;
}
.img-text{
	position: absolute;
	bottom:130px;


}

.close{
	position: absolute;
	padding: 220px 400px;
	background-color: rgba(255, 0, 0, 0);
	/* border: 1px solid #df2b2b; */
}

.portfolio{
	display:grid;
	grid-template-columns: repeat(2,1fr);
	flex:1;	
	margin: 5px 5px 0 5px;
}

.portfolio-image{	
	border:3px solid rgb(0, 255, 115);
	transform: scale(1,1);

	
   }
.portfolio-image :hover{
	opacity: .9;

	transform: scale(1.04,1.04);
	transition:all .5s 
   }
.portfolio-image :active{
	opacity: 1;

	transform: scale(.8,.8);
	transition:all .5s 
   }

#article{
	color: rgb(101, 108, 207);
	display: block;
	flex:1;
}

#small-word{ 
	font-size: 1.2rem;
	margin: 0 0 -10px 0 ;
	padding: 0;
	color: rgb(101, 108, 207);
	display: block;

	
}
#first-word{
	font-size: 2rem;
	padding: 0;
	margin: 0;
	line-height: 2rem;
	display: block;
	/* border: 1px solid rgb(255, 0, 0); */

}
#article p{ 
	color: rgb(162, 145, 182);
	padding: 0;
	margin: 5px 0 0 0;
}


.more-btn{
	font: 1rem 'Montserrat', sans-serif;
	background-color: rgb(112, 40, 228);
	color: rgb(236, 236, 236);
	padding: 8px 15px ;
	margin: 40px 0;
	float: left;
	font-size:0.7rem;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-decoration: none;
}

.message-btn{
	color: rgb(51, 52, 99);
	background: rgb(91, 217, 255);
	padding: 8px 15px ;
	margin: 40px 0;
	float: right;
	font: 1rem 'Montserrat', sans-serif;
	font-weight: 400;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);



}




/*--------                FOOOTER              ---------   */

footer{
	color: #ffffff;
	padding: 30px;
	text-align: center;
	background-image: linear-gradient(-90deg,rgb(49, 60, 165), rgb(90, 48, 167));
	width: 100%;
	margin-top: 150px;
	position: relative;
	bottom: 0;
	font-size: 0.7rem;
	font-weight: 300;
}

/*-------------------------------------(MEDIA Qeucry) */

/* 

@media screen and (max-width: 800px){

	#cnav{
		display: none;
	}
		
	body{
		max-width: 768px;
		width: auto;
	

	}
	
	#bnav{
		position: sticky;
		top: 0;
		display: inline-flex;
		flex-flow: row nowrap ;
		width: 100%;

		font-size: 1rem;
		text-align: center;
		background-color:rgb(22, 13, 13);
		justify-content: center;
	
		transition: all .2s ease-in-out;
		z-index: 98;
	}
	.sticky{
		min-width: 120px;
		display: block;
		font-weight: 100;
		padding: 0;
		margin: 0 2px;
		background-color:rgb(179, 125, 125);
	
	  
		color: rgb(255, 255, 255);
	}
	
	#bnav  a{
		white-space: nowrap;
		font-weight: 100;
		text-decoration: none;
		transition: all .4s;
		
	}
	#bnav :hover {
		background: rgb(228, 228, 228);
		color: rgb(29, 27, 32);
		transition: all .2s;
		 }
	 .active {
		 background: rgb(29, 28, 31);
		transition: all .2s;
	 }
	 #bnav .active  a{
		color: #ffffff;
		font-weight: bold;
		border-bottom: 3px solid rgb(171, 22, 230);
		background: rgb(64, 61, 71);
		
	 }
	

   	.portfolio-whole{
		display: flex;
		flex-flow: column wrap;
		margin: 0px 0;
		justify-content: center;
		align-items: center
	}


	.portfolio-image{	
	
		max-width: 400px;
		transform: scale(1,1);
		padding: 0;
	
	   }
	#article{
		color: rgb(101, 108, 207);
		padding: 20px 10px;
		width: auto;
		margin: 0 30px;
		flex:1;
	}
	.btn-wrapper{
		display: flex;
		justify-content: space-between;
	}

	#gameart1>.portfolio-whole{
	
		display: flex;
		flex-flow: column wrap;
		margin: 0px 0;
		justify-content: center;
		align-items: center
	}
	
	#community-section>.portfolio-whole{
		
		display: flex;
		flex-flow: column wrap;
		margin: 0px 0;
		justify-content: center;
		align-items: center
	}
	#community-section .portfolio{
		display:grid;
		grid-template-columns: repeat(2,1fr);
		flex:1;	
		margin: 20px 10px;
		}
	
} */



@media screen and (max-width:425px){

	html{
		font-size: 16px;
		}

	#anav{
		margin: 0;
	}

	#anav ul{
		display: none;
	}	

	.title{
		/* border: 1px solid #000; */
		width: fit-content;
		color: rgb(255, 255, 255);
		font-size: 1.2rem;
		font-weight: 400;
		margin-left: 10px;
		padding: 5px;
		flex:4;
	}




	
	
	.name-container{
		background-color:rgba(34, 137, 233, 0);
		animation:name-bg 1s forwards;
	}
	
	@keyframes name-bg{
		0%{background-color:rgb(160, 34, 233);width: 0px;}
		100%{border-bottom: 1px solid rgb(142, 88, 230);;width: 70%;}
	
	}

	.name-container p{
		font-family: 'Montserrat', sans-serif;
		font-weight: 400;
		font-size: 1rem;
		/* border: 1px solid #000; */
		animation: hero-p 1.5s ease forwards;
	
	}
	@keyframes hero-p{
		0% {font-size:0rem; color: rgba(209, 27, 233, 0); width: 0px;}
		100% {font-size:1.5rem;color: rgb(255, 255, 255); width: 100%;}
	
	}

	#name-box{
		display: block;
		font-size: 1.5rem;
		background:rgba(160, 34, 233, 0);
		color: #ffffff00;
		width: fit-content;
		padding: 10px;
		font-weight: 700;
		margin-left: 50px;
		animation: hero-box .5s ease 1.5s forwards;

	}
	@keyframes hero-box{
		0% {font-size:0rem;background:rgba(160, 34, 233, 0);color: #ffffff00; transform: scale(1,0)}
		100% {font-size:1.5rem;background:rgb(107, 53, 179);color: #44a9ec;transform: scale(1,1);}
	
	}

	/*-----letter */
	.letter p{
		padding: 0px 10px;
	}

	#title-hero h1{
		font-family:'Teko', sans-serif;
		font-weight: 700;
		font-size: 7rem;
		color: rgb(255, 255, 255);
		line-height: 150px;
		text-align: start;
		overflow: hidden;
		letter-spacing: 3px;
		padding:  0;
		margin: 30px 10px;
		animation: hero-h1 1s ease-in-out;
		position: relative;
	}

	.letter-1{
		font-family:'Montserrat', sans-serif;
		font-weight: 900;
		position: absolute;
		color: rgb(230, 241, 255);
		background: rgb(28, 195, 236);
		font-size: 2rem;
		top:400px;
		animation: hero-1 10s ease backwards infinite;
		
	}
	@keyframes hero-1{
		0% {background: rgba(28, 195, 236, 0); color: rgba(255, 0, 0, 0); left: 80px;}
		20% {background: rgba(28, 195, 236, 0); color: rgba(255, 0, 0, 0); left: 80px;}
		25% {background: rgb(28, 195, 236);color:rgb(255, 255, 255); left:90px;;}
		35% {background: rgb(28, 195, 236);color:rgb(255, 255, 255);left:90px; ;}
		36% {background: rgba(0, 183, 255, 0);color: rgba(255, 0, 0, 0); left:90px; ;}
		100% {background: rgba(28, 195, 236, 0);color: rgba(255, 0, 0, 0); left: 0 ;}
	}
	.letter-2{
		font-family:'Montserrat', sans-serif;
		font-weight: 900;
		position: absolute;
		color: rgba(230, 241, 255, 0);
		background: rgb(28, 195, 236);
		font-size: 2rem;
		top:400px;
		animation: hero-2 10s ease backwards infinite;
	}
	@keyframes hero-2{
		0% {background: rgba(28, 195, 236, 0); color: rgba(255, 0, 0, 0); left: 80px;}
		37% {background: rgba(28, 195, 236, 0); color: rgba(255, 0, 0, 0); left: 80px;}
		40% {background: rgb(28, 195, 236);color:rgb(255, 255, 255); left:90px;;}
		55% {background: rgb(28, 195, 236);color:rgb(255, 255, 255); left:90px; ;}
		56% {background: rgba(28, 195, 236, 0);color: rgba(255, 0, 0, 0); left:90px; ;}
		100% {background: rgba(28, 195, 236, 0);color: rgba(255, 0, 0, 0); left: 0 ;}
	}

	.letter-3{
		font-family:'Montserrat', sans-serif;
		font-weight: 900;
		position: absolute;
		color: rgba(230, 241, 255, 0);
		
		font-size: 2rem;
		top:400px;
		animation: hero-3 10s ease backwards infinite;
	
	}
	
	@keyframes hero-3{
		0% {background: rgba(28, 195, 236, 0); color: rgba(255, 0, 0, 0); left: 80px;}
		57% {background: rgba(28, 195, 236, 0); color: rgba(255, 0, 0, 0); left: 80px;}
		62% {background: rgb(28, 195, 236);color:rgb(255, 255, 255); left:90px;;}
		77% {background: rgb(28, 195, 236);color:rgb(255, 255, 255); left:90px; ;}
		78% {background: rgba(28, 195, 236, 0);color: rgba(255, 0, 0, 0); left:90px; ;}
		100% {background: rgba(28, 195, 236, 0);color: rgba(255, 0, 0, 0); left: 0 ;}
	}
	
	.letter-4{
		font-family:'Montserrat', sans-serif;
		font-weight: 900;
		position: absolute;
		color: rgba(230, 241, 255, 0);
		
		font-size: 2rem;
		top:400px;
		animation: hero-4 10s ease backwards infinite;
	}
	
	@keyframes hero-4{
		0% {background: rgba(28, 195, 236, 0); color: rgba(255, 0, 0, 0); left: 80px;}
		78% {background: rgba(28, 195, 236, 0); color: rgba(255, 0, 0, 0); left: 80px;}
		83% {background: rgb(28, 195, 236);color:rgb(255, 255, 255); left:90px;;}
		98% {background: rgb(28, 195, 236);color:rgb(255, 255, 255); left:90px; ;}
		99% {background: rgba(28, 195, 236, 0);color: rgba(255, 0, 0, 0); left:90px; ;}
		100% {background: rgba(28, 195, 236, 0);color: rgba(255, 0, 0, 0); left: 0 ;}
	}
	[id$= -card] {
		margin: 1px;
	}
		
	.card-text{
		font-size: 1.5rem;
		
	}

/* --------------------------------CNAV */
#cnav{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	position: -webkit-sticky;
	position: sticky;
	height: 40px;
	top: 0;
	-webkit-box-align: center;
	-ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack:center;
	-ms-flex-pack:center;
	        justify-content:center;
	background-image: -webkit-gradient(linear,right top, left top,from(rgb(120, 42, 245)),to(rgb(32, 62, 161)));
	background-image: -webkit-linear-gradient(right,rgb(120, 42, 245),rgb(32, 62, 161));
	background-image: -o-linear-gradient(right,rgb(120, 42, 245),rgb(32, 62, 161));
	background-image: linear-gradient(-90deg,rgb(120, 42, 245),rgb(32, 62, 161));	
	-webkit-transition: all .2s ease-in-out;	
	-o-transition: all .2s ease-in-out;	
	transition: all .2s ease-in-out;
	z-index: 99;
	width: 100%;
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.cnav-btn div{
	width: 30px;
	height: 5px;
	margin: 5px;
	border-radius: 10px;
	background: rgb(255, 255, 255);
}

.cnav-wrap{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	border: 1px solid #000;
	position: fixed;
	display:flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-flow: column wrap;
	        flex-flow: column wrap;
	top:0;;
	left:0;
	width: 100vw;
	height: 100vh;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center	;
	-ms-flex-align: center	;
	        align-items: center	;
	z-index: 120;
	background-image: -webkit-gradient(linear,right top, left top,from(rgb(120, 42, 245)),to(rgb(32, 62, 161)));
	background-image: -webkit-linear-gradient(right,rgb(120, 42, 245),rgb(32, 62, 161));
	background-image: -o-linear-gradient(right,rgb(120, 42, 245),rgb(32, 62, 161));
	background-image: linear-gradient(-90deg,rgb(120, 42, 245),rgb(32, 62, 161));	
	-webkit-transform: scale(0,0);	
	-ms-transform: scale(0,0);	
	        transform: scale(0,0);
	opacity: 0;
	-webkit-transition: all ease-in-out .2s;
	-o-transition: all ease-in-out .2s;
	transition: all ease-in-out .2s;
	-webkit-transform-origin: bottom;
	-ms-transform-origin: bottom;
	        transform-origin: bottom;
}


.contact{
	width: 100%;
	
}
.contact ul{
	display:flex;
	flex-flow: row;
	align-items: center;
	justify-content: center;

	font-size: 1.5rem;
	list-style: none;
	width: 100%;
	margin: 30px 0 0 0;

}
.contact a{
	
	padding: 20px;
	margin: 10px;
}
.cnav-wrap:target{
	transform: scale(1,1);
	opacity: 1;
	transform-origin: bottom;
}
.cnav-list{
	display: flex;
	width: 100%;

}
.cnav-list ul{
	display:grid;
	grid-template-columns: repeat(2,1fr);
	grid-gap:5px 5px;
	text-align: center;
	font-size: 1.5rem;
	list-style: none;
	width: 100%;
	margin: 5px;
}
.cnav-list a{
	display: block;
	padding: 30px 0;
	color: rgba(255, 255, 255, 0.733);
	background: rgba(255, 255, 255, 0.288);
	text-decoration: none;
	transition: all .4s;
}
.cnav-list a:active{
	font-size: 1.5rem;
	background: rgb(52, 40, 87);
}

#cnav-close{
	border: 1px solid rgb(255, 255, 255);
	background: rgba(0, 0, 0, 0);
	position: absolute;
	top:5%;
	left: 5%;
	padding: 20px 20px;
	margin: 0;
	text-decoration: none;
	color: #fff;
	
}

/* ----------------section */
#article{
	color: rgb(101, 108, 207);
	display: block;
	margin: 30px 10px ;
	flex:1;
	padding: 20px;
}

#community-section>.portfolio-whole{
	display: flex;
	flex-flow: column wrap;
	margin: 40px 0;
}
#community-section .portfolio{
	display:block;
	flex:1;	
	margin: 0;
}
#gameart1>.portfolio-whole{
	display: flex;
	flex-flow: column wrap;
	margin: 40px 0;
}
#illu1>.portfolio-whole{
	display: flex;
	flex-flow: column wrap;
	margin: 40px 0;
}

.portfolio{

	display:block;
	flex:1;	
	margin: 0;
}

.portfolio-whole{
	border: 1px solid rgb(255, 0, 0);
	display: flex;
	flex-flow: column wrap;
	margin: 40px 0;
}

.more-btn{
	float: left;
 }

.message-btn{
	float: right;



}

#bnav{
	position: -webkit-sticky;	
	position: sticky;
	top: 40px;
	left: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row nowrap ;
	        flex-flow: row nowrap ;
	line-height: 30px!important;
	font-size: .5rem!important;;
	text-align: center;
	-webkit-box-pack:center;
	-ms-flex-pack:center;
	        justify-content:center;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	z-index: 98;
}
.sticky{
	min-width: auto!important;
	display: block!important;
	font-weight: 100px;
	padding: 0 10px;
	margin: 0 2px;
	color: rgb(255, 255, 255);
}

#bnav  a{
	white-space: nowrap;
	font-weight: 100;
	text-decoration: none;
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;
	width: auto;
}
#bnav :hover {
	background: rgb(228, 228, 228);
	color: rgb(29, 27, 32);
	-webkit-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
	 }
.active {
	background: rgb(29, 28, 31);
	-webkit-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
 }
 #bnav .active  a{
	color: #ffffff;
	font-weight: bold;
	border-bottom: 3px solid rgb(171, 22, 230);
	background: rgb(64, 61, 71);
	
 }






}